h1 {
	color: white;
	text-align: center;
	background-image: url(http://images.techtimes.com/data/images/full/17676/obese-man.jpg?w=600);
	font-size: 50px;
	margin-bottom: 0em;
	margin-left: 1em;
	margin-right: 1em;
	}	
h2 {
	color: white;
	text-align: right;
	background-color: black;
	font-size: 15px;
	margin-top: 0em;
	margin-right: 1em;
	margin-left: 1em;
			}